a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 23px;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Podkova", serif;
    background: #222;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.filias {
    display: flex;
    align-items: center;
    margin: 0px 20px 0px;
    color: #fff;
}

.filias select {
    background: transparent;
    color: #fff;
    outline: none;
    border: 0px;
}

.filias option {
    color: #23232e;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 6px;
}

#user-info {
    display: flex;
    gap: 20px;
    color: #fff;
    align-items: center;
}

#user-info button {
    width: 90px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: #222;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }

    .nav-list.active {
        transform: translateX(0);
    }


    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.logout {
    background-color: var(--button-color);
    border: 0px;
    border-radius: 8px;
    color: #fff;
}